.contexts
  .top
    %p.top__text
      test
      %a.top__test__member
        member test
    = link_to "#" ,class: "tops" do
      %p.tops__edit
        edit
  .line
  .bottom
    %p.bottom__text
      test
      %a.bottom__text__time
        2019/12/22
    %p.bottom__message
      kk
  .under
    %under.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon("fas", "image")
          %input{type: "file", class: "input-box__image__file"}
      %input{type:"submit", class:"submit-btn"}