* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;


  .contexts {
    .top {
      background-color: #ffffff;
      height: 100px;
      width: calc(100vw - 300px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tops {
        text-decoration: none;
        color: #38aef0;
        font-size: 16px;
        font-weight: bold;
        border: solid 1px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;


        // &__edit {
        //   padding-right: 20px;
        // }
      }
      &__text {
        color: black;
        padding-left: 40px;
        padding-top: 35px;
        padding-bottom: 15px;
        
        display: flex;
        flex-direction: column;

        a {
          color: #999999;
          font-size: 12px;
          
        }
      }
      
    }
    
    .line {
      background-color: #eeeeee;
    }
    .bottom {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      width: calc(100vw - 300px);
      padding-left: 20px;

      &__text {
        color: black;
        padding-top: 35px;
        padding-bottom: 12px;
        font-size: 16px;
        &__time {
          color: #999999;
          font-size: 12px;
        }
      }
      &__message {
        color: #434A54;
        font-size: 14px;
        padding-bottom: 46px;
      }
    }
    .under {
      background-color: #d2d2d2;
      height: 90px;
      width: calc(100vw - 300px);

      .new_message {
        display: flex;
        padding-top: 25px;
        padding-left: 50px;
        
      
        .input-box {
          width: 100%;
          display: flex;
          position: relative;
          // display: block;
          

          &__text {
            height: 50px;
            width: 100%;
            color: #434a54;
            border-style: none;
            padding: 0 40px 0 10px;
            
          }
          &__image {
            cursor: pointer;
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;

            &__file {
              display: none;
            }
          }
        }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
        }
      }
    }
    }
  .side {
    .header {
      background-color: #253141;
      height: 100px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    // padding: 20px;
      
      
      .top-items {
        // background-color: #333333;
        color: white;
        height: 20px;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        &__name {
          background-color: #253141;
          
          
        }
        
        &__icons {
          color: white;
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          
          
          &__cog {
            display: flex;
            
          }
        }
      }
    }
  }

li {
  margin-left: 5px;              
}


  .a-color {
    color: white;
  }


    .footer {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      width: 300px;
      padding: 20px;


      .group {
        text-decoration: none;
        margin-bottom: 40px;
        color: white;
      }
    }
  
  }